.RE {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../static/images/sunset.gif') no-repeat center / cover;

    h2 {
        text-transform: uppercase;
        color: aliceblue;
        font-size: 7rem;
    }

    p {
        font-weight: bold;
        font-style: italic;
        color: aliceblue;
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    @media screen and (width<768px) {
        h2 {
            font-size: 4rem;
        }

        p {
            font-size: 1rem;
        }
    }

}