@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
$bg-clr: #fae2e9;
$font-clr: #4f2761;
$ff-subtext: Playfair Display;

@import './DO';
@import './RE';